.phone-validation-rt {
  .container-fluid {
    text-align: center;
  }

  .form {
    input {
      text-align: center;
      font-size: 32px;
      width: 148px;
    }
  }

  .subtitle {
    strong {
      display: block;
    }
  }
}
