.pai-tabs {
    .bp3-tab-list {
        border-bottom: solid 1px rgba(16, 22, 26, 0.1);
    }

    .bp3-tab-indicator-wrapper {
        .bp3-tab-indicator { 
            height: 8px;
            bottom: -4px;
        }
    }
}