.privacy-policy-rt {
  .app-bar {
    background-color: transparent;
    box-shadow: none;
  }

  .sub-menu {
    display: flex;
    justify-content: center;

    div {
      margin: 8px;
      display: flex;
      align-items: center;
      flex-direction: column;

      &:nth-of-type(1) {
        svg {
          margin-bottom: 5px;
          font-size: 20px;
        }
      }

      span {
        font-size: 8px;
        text-align: center;
        text-transform: uppercase;
      }
    }
  }

  .request-items {
    span {
      display: block;
    }
  }

  .success-message {
    display: none;
    background-color: #c7f1bc;
    border-radius: 6px;
    opacity: 0;
    transition: all ease 1s;

    &.show {
      display: block;
      opacity: 1;
    }
  }
}
