.mobile-preview {
    position: relative;
    width: 260px;
    height: 520px;

    &__mockup {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 260px
    }

    &__iframe {
        position: absolute;
        top: 64px;
        left: 18px;
        bottom: 0;
        width: 318px;
        height: 564px;
        z-index: 10;
        transform: scale(0.7);
        transform-origin: (0px 0px);
    }
}